.about {
  margin: 0 auto;
  width: 70%;

  @include small-devices {
    width: 85%;
  }

  @include phone-only {
    width: 100%;
  }

  &__header {
    margin-bottom: 5rem;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
      text-indent: 2rem;
    }
  }
}
