.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  background-image: linear-gradient(
      rgba($color-grey-dark, 0.9),
      rgba($color-grey-dark, 0.9)
    ),
    url("../resources/img/footer.jpg");

  background-position: center;
  background-size: cover;

  &__logo {
    position: absolute;
    width: 9rem;
    height: 9rem;
    left: calc(50% - 5rem);
    top: 10%;

    @include phone-only {
      width: 7rem;
      height: 7rem;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__column {
    margin: 17.5rem 2rem 14.5rem 2rem;
    display: flex;
    justify-content: center;

    @include phone-only {
      margin: 13.5rem 2rem 5rem 2rem;
    }
  }

  &__wrapper {
    border-top: 2px solid rgba($color: $color-grey-light, $alpha: 0.4);
    padding-top: 3rem;
    max-width: 60rem;

    @include small-desktop {
      max-width: 40rem;
      border-top: 2px solid transparent;
    }

    @include small-devices {
      max-width: 30rem;
    }

    @include phone-only {
      max-width: 50rem;
    }

    &--list {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 2.5rem;
      justify-content: center;

      @include small-desktop {
        flex-direction: column;
      }
    }

    &--item {
      display: inline-block;
    }
  }
}
