.header {
  width: 100%;
  height: 60vh;
  display: flex;
  margin-bottom: 5rem;

  &__info {
    width: 45%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    &-skills {
      h2 {
        display: inline-block;
        &:first-child {
          margin-right: 2rem;
        }

        &:last-child {
          transition: all 1s;
        }
      }

      &:hover {
        h2 {
          &:last-child {
            transform: rotate(-720deg) scale(1.15) translateX(1rem);
            background-image: url("../resources/img/react.png");
            background-position: center;
            background-size: cover;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
          }
        }
      }
    }
  }

  &__image {
    display: flex;
    flex-shrink: 0;
    margin: 0 auto;
    width: 45%;
    height: 90%;

    &--content {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__socials {
    margin-top: 3rem;
    display: flex;
    gap: 4rem;
  }
}
