.header {
  width: 100%;
  height: 60vh;
  display: flex;
  position: relative;
  padding-top: 10rem;

  &__info {
    width: 50%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 5rem;
    text-align: center;

    @include small-devices {
      width: 100%;
      text-align: center;
    }
  }

  &__skill {
    display: inline-block;
    white-space: nowrap;

    h2 {
      &:first-child {
        margin-right: 2rem;
      }

      @include can-hover {
        &:last-child {
          &:hover {
            transform: scale(1.2) translateX(1rem);
            background-image: url("../resources/img/react.webp");
            background-position: center;
            background-size: cover;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
          }
        }
      }
    }
  }

  &__image {
    display: flex;
    flex-shrink: 0;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    transition: all 0.4s ease;

    @include small-devices {
      width: 90%;
      position: absolute;
      opacity: 0.1;
      left: 50%;
      transform: translateX(-50%);
      pointer-events: none;
      z-index: -1;
    }

    &--content {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__socials {
    margin-top: 3rem;
    display: flex;
    gap: 4rem;

    @include small-devices {
      justify-content: center;
    }
  }
}
