.card {
  perspective: 100rem;
  width: 29rem;
  height: 38rem;
  position: relative;

  &__front {
    @include card-styles;
  }

  &__back {
    @include card-styles;
    transform: rotateY(180deg);
  }

  &:hover &__front {
    transform: rotateY(-180deg);
  }

  &:hover &__back {
    transform: rotateY(0deg);
  }

  &__logo {
    width: 100%;
    height: 20.5rem;

    &--content {
      width: inherit;
      height: inherit;
      object-fit: contain;
    }
  }

  &__header {
    width: 100%;
    height: 15.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__skills {
    padding: 2rem 0.5rem 1.5rem 2rem;
  }

  &__skills--list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__skills--item {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: -15px;
      width: 9px;
      height: 9px;
      background-color: $tertiary-color-light;
      border-radius: 50%;
    }
  }
}
