.timeline {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;

  &__job {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    background-image: linear-gradient(
      to right,
      $primary-color-light,
      rgba($primary-color, 0.8)
    );
    padding: 2rem 5rem;
    border-radius: 9px;
    position: relative;

    &:not(:first-child) {
      background-image: linear-gradient(
        to right,
        $secondary-color,
        rgba($secondary-color-dark, 0.8)
      );
    }

    &:first-child &--content {
      p:first-child::before {
        color: $tertiary-color-dark;
      }
    }

    &--content {
      display: flex;
      gap: 1rem;
      position: relative;

      p:first-child::before {
        content: "\2013";
        position: absolute;
        left: -15px;
        color: $primary-color-dark;
      }
    }
  }
}
