.timeline {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;

  &__job {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;

    padding: 2rem 5rem;
    border-radius: 9px;
    position: relative;

    @include phone-only {
      padding: 2rem 3rem;
    }

    &:nth-of-type(odd) {
      background-image: linear-gradient(
        to right,
        $primary-color-light,
        rgba($primary-color, 0.8)
      );
    }

    &:nth-of-type(even) {
      background-image: linear-gradient(
        to right,
        $secondary-color,
        rgba($secondary-color-dark, 0.8)
      );
    }

    &:nth-of-type(odd) &--content {
      p:first-child {
        color: $tertiary-color-dark;

        &::before {
          color: $tertiary-color-dark;
        }
      }
    }

    &:nth-of-type(even) &--content {
      p:first-child {
        color: $primary-color-dark;

        &::before {
          color: $primary-color-dark;
        }
      }
    }

    &--content {
      display: flex;
      gap: 1rem;
      position: relative;
    }
  }
}
