@keyframes LeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-4rem);
  }

  70% {
    opacity: 0.7;
    transform: translateX(0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes RightToLeft {
  0% {
    opacity: 0;
    transform: translateX(4rem);
  }

  70% {
    opacity: 0.7;
    transform: translateX(-0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes BottomToTop {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }

  70% {
    opacity: 0.7;
    transform: translateY(-0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.leftToRight {
  animation: LeftToRight 1s ease-out;
}

.rightToLeft {
  animation: RightToLeft 1s ease-out;
}

.bottomToTop {
  animation: BottomToTop 1s ease-out;
}
