@keyframes LeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-4rem);
  }

  70% {
    opacity: 0.7;
    transform: translateX(0.75rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes RightToLeft {
  0% {
    opacity: 0;
    transform: translateX(4rem);
  }

  70% {
    opacity: 0.7;
    transform: translateX(-0.75rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes BottomToTop {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }

  70% {
    opacity: 0.7;
    transform: translateY(-0.75rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes RotateAndScale {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0.5;
    transform: scale(1.1) translateX(1rem) rotate(-90deg);
    background-image: url("../resources/img/react.webp");
    background-position: center;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  50% {
    opacity: 1;
    transform: scale(1.2) translateX(1.35rem) rotate(-180deg);
    background-image: url("../resources/img/react.webp");
    background-position: center;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  70% {
    opacity: 1;
    transform: scale(1.1) translateX(1.75rem) rotate(-270deg);
    background-image: url("../resources/img/react.webp");
    background-position: center;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  100% {
    opacity: 1;
    transform: scale(1) translateX(0) rotate(-360deg);
  }
}

.leftToRight {
  animation: LeftToRight 1s ease-out;
}

.rightToLeft {
  animation: RightToLeft 1s ease-out;
}

.bottomToTop {
  animation: BottomToTop 1s ease-out;
}

.rotateAndScale {
  animation: RotateAndScale 1s linear;
}
