.u-heading-alternative {
  color: $color-white !important;

  @include can-hover {
    &:hover {
      color: $tertiary-color-light !important;
    }
  }
}

.u-center-text {
  text-align: center !important;
}

.u-paragraph-skills {
  hyphens: auto !important;
  font-size: 1.4rem !important;
}

.u-hyphens {
  hyphens: auto !important;
}

.u-paragraph-projects {
  font-size: 1.7rem !important;
  font-weight: 500 !important;
  text-align: center !important;
}

.u-animation-delay {
  animation-delay: 1s !important;
  animation-fill-mode: backwards !important ;
}

.u-paragraph-green {
  color: $tertiary-color-dark !important;
}

.u-paragraph-blue {
  color: $primary-color-dark !important;
}

.u-paragraph-copyright {
  color: $color-white !important;
  font-size: 1.5rem !important;
  word-wrap: break-word;
}

.u-margin-left {
  margin-left: 5rem !important;

  @include small-devices {
    margin-left: 3.5rem !important;
  }
}

.u-margin-right {
  margin-right: 5rem !important;

  @include small-devices {
    margin-right: 3.5rem !important;
  }
}

.u-margin-bottom {
  margin-bottom: 2.5rem !important;
}

.u-textarea {
  height: 100% !important;
  resize: none !important;
}

.u-max-height {
  height: 100% !important;
}

.u-max-width {
  width: 100% !important;
}

.u-btn-nav-alternative {
  &,
  &:link,
  &:visited {
    color: $color-white !important;
    font-size: 1.5rem !important;
  }

  @include can-hover {
    &:hover,
    &:active {
      color: $primary-color-dark !important;
    }
  }

  &::before,
  &:link::before,
  &:visited::before {
    background-color: $primary-color-dark !important;
  }
}

.u-btn-social-alternative {
  &:link,
  &:visited {
    svg {
      fill: $color-white !important;
    }
  }

  @include can-hover {
    &:hover,
    &:active {
      svg {
        fill: $primary-color-dark !important;
      }
    }
  }
}

.u-cursor-pointer {
  cursor: pointer !important;
}

.u-no-pointer-events {
  pointer-events: none !important;
}
