.u-heading-alternative {
  color: $color-white !important;

  &:hover {
    color: $tertiary-color-light !important;
  }
}

.u-heading-dark {
  color: $tertiary-color !important;

  &:hover {
    color: $primary-color-dark !important;
  }
}

.u-center-text {
  text-align: center !important;
}

.u-paragraph-skills {
  hyphens: auto !important;
  font-size: 1.4rem !important;
}

.u-hyphens {
  hyphens: auto !important;
}

.u-paragraph-projects {
  font-size: 1.7rem !important;
  font-weight: 500 !important;
  text-align: center !important;
}

.u-animation-delay {
  animation-delay: 0.5s !important;
  animation-fill-mode: backwards !important ;
}

.u-paragraph-green {
  color: $tertiary-color-dark !important;
}

.u-paragraph-blue {
  color: $primary-color-dark !important;
}

.u-paragraph-copyright {
  color: $color-white !important;
}

.u-margin-left {
  margin-left: 5rem !important;
}

.u-margin-right {
  margin-right: 5rem !important;
}

.u-textarea {
  height: 100% !important;
}

.u-max-height {
  height: 100% !important;
}

.u-btn-nav-alternative {
  &,
  &:link,
  &:visited {
    color: $color-white !important;
  }

  &:hover,
  &:active {
    color: $primary-color-dark !important;
  }

  &::before,
  &:link::before,
  &:visited::before {
    background-color: $primary-color-dark !important;
  }
}
