$primary-color: #7dd3fc;
$primary-color-light: #e0f2fe;
$primary-color-dark: #0ea5e9;

$secondary-color-light: #fffbeb;
$secondary-color: #fef3c7;
$secondary-color-dark: #fde68a;

$tertiary-color-light: #34d399;
$tertiary-color: #059669;
$tertiary-color-dark: #065f46;

$color-white: #fff;
$color-black: #000;

$color-grey-dark: #333;
$color-grey-light: #eee;

$color-red: #f87171;
