.app {
  position: relative;

  .main {
    margin: 0 auto;
    width: 90%;
    margin: 5rem auto 12.5rem auto;

    &__container {
      box-shadow: 0 3px 8px rgba($color: $color-black, $alpha: 0.2);
      border-radius: 3px;
      overflow: hidden;

      .section-about {
        background-image: linear-gradient(
            to right,
            rgba($color-white, 0.45),
            rgba($color-white, 0.5)
          ),
          url("../resources/img/computer-science.jpg");
        background-size: cover;
        background-position: center;

        padding: 5rem 7.5rem 15rem 7.5rem;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10rem), 0 100%);

        @include small-devices {
          padding: 5rem 5rem 15rem 5rem;
        }

        @include phone-only {
          padding: 5rem 2.5rem 15rem 2.5rem;
        }
      }

      .section-skills {
        background-image: linear-gradient(
            to left,
            rgba($primary-color-light, 1),
            rgba($primary-color-light, 0.7)
          ),
          url("../resources/img/technologies.jpg");
        background-size: cover;
        background-position: center;

        padding: 10rem 7.5rem 15rem 7.5rem;
        margin-top: -10.5rem;
        clip-path: polygon(0 10rem, 100% 0, 100% 100%, 0 calc(100% - 10rem));

        @include small-devices {
          padding: 10rem 5rem 15rem 5rem;
        }

        @include phone-only {
          padding: 10rem 2.5rem 15rem 2.5rem;
        }
      }

      .section-experience {
        background-image: linear-gradient(
            to right,
            rgba($color-white, 0.5),
            rgba($color-white, 0.8)
          ),
          url("../resources/img/codding.jpg");
        background-size: cover;
        background-position: center;
        margin-top: -10.5rem;

        padding: 5rem 7.5rem 15rem 7.5rem;
        clip-path: polygon(0 0, 100% 10rem, 100% calc(100% - 10rem), 0 100%);

        @include small-devices {
          padding: 10rem 5rem 15rem 5rem;
        }

        @include phone-only {
          padding: 10rem 2.5rem 15rem 2.5rem;
        }
      }

      .section-projects {
        margin-top: -10.5rem;
        clip-path: polygon(0 10rem, 100% 0, 100% 100%, 0 calc(100% - 10rem));
      }

      .section-contact {
        background-image: linear-gradient(
            to right,
            rgba($color-white, 0.6),
            rgba($color-white, 0.85)
          ),
          url("../resources/img/contact.jpg");
        background-size: cover;
        background-position: center;
        margin-top: -10.5rem;

        padding: 10rem 7.5rem 15rem 7.5rem;
        clip-path: polygon(0 0, 100% 10rem, 100% 100%, 0 100%);

        @include small-devices {
          padding: 10rem 5rem 15rem 5rem;
        }

        @include phone-only {
          padding: 10rem 2.5rem 15rem 2.5rem;
        }
      }
    }
  }
}
