*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;

  @include large-tablets {
    font-size: 56.25%;
  }

  @include small-devices {
    font-size: 50%;
  }
}

body {
  width: 100%;
  min-height: 100vh;

  background-image: linear-gradient(
    to left,
    $secondary-color,
    $secondary-color-light
  );
}
